@import 'variables';

body {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 26px;
}

.btn-1 {
    display: inline-block;
    vertical-align: top;
    background: $light-blue;
    color: $white;
    border-radius: 30px;
    font-size: 16px;
    line-height: normal;
    font-weight: 700;
    padding: 16px 40px;
    text-decoration: none;
    border: 0;
    outline: none;

    &:hover {
        background: $blue;
        color: $white;
    }
}

@media (min-width: 576px) {
    .py-sm-120 {
        padding-top: 120px !important;
        padding-bottom: 120px !important;
    }
    .mb-sm-90 {
        margin-bottom: 90px !important;
    }
    .py-sm-70 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
}